<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
    <!-- build:js js/vendor/modernizr.js -->
    <script src="components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="container">
      <div class="header">
          <ul class="nav nav-pills pull-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
          <h3 class="text-muted">bbe</h3>
      </div>
      <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
      </div>

      <div class="row text-left">
          <div class="col-md-offset-4">
              <h2>Now Try,</h2>
              <h4><b>yo bbe:router</b> &lt;router&gt;</h4>
              <h4><b>yo bbe:collection</b> &lt;collection&gt;</h4>
              <h4><b>yo bbe:model </b> &lt;model&gt;</h4>
              <h4><b>yo bbe:view </b> &lt;view&gt;</h4>
          </div>
      </div>

      <div class="row marketing">
          <div class="col-lg-6">
              <h4>Bootstrap</h4>
              <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

              <h4>Backbone.js</h4>
              <p>Backbone.js gives structure to web applications by providing models, collections, views and connects it all to your existing API over a RESTful JSON interface. <% if (includeBackboneRelational) { %> <b>Backbone-relational.js</b> was also included. <% } %>
              </p>

              <h4>Modernizr</h4>
              <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
          </div>
          <div class="col-lg-6">
              <h4>Express</h4>
              <p>Express is a minimal and flexible node.js web application framework.</p>

              <h4>RequireJS</h4>
              <p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.</p>

              <h4>Underscore.js</h4>
              <p>Underscore.js is a utility-belt library for JavaScript that provides a lot of the functional programming support</p>
          </div>
      </div>

      <div class="marketing">
        <div>
          <h3>Enjoy coding! - Yeoman</h3>
        </div>
      </div>
    </div>
    <!-- build:js js/main.js -->
    <script data-main="js/main" src="components/requirejs/require.js"></script>
    <!-- endbuild -->
  </body>
</html>
